.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
    width: 50%;
    max-width: 500px; 
}


.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 12px;
    display: block;
}

.success-msg {
    color: green;
    font-size: 14px;
}

.error-msg {
    color: red;
    font-size: 14px;
}

.file-drop {
    border: 2px dashed gray;
    padding: 20px;
}

.close-btn {
    margin-top: 10px;
    background: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.phone-group {
    display: flex;
    gap: 10px;
  }
  
  .phone-group .phone-extension,
  .phone-group .phone-number {
    flex: 1;
  }
  